@media (min-width: 801px) {
    #Main,
    #header-mobile,
    #btn-main-mobile,
    #About, 
    #outSide-mobile,
    #title-outSide-mobile,
    #icon-1,
    #icon-2,
    #icon-3,
    #icon-4,
    #icon-5,
    #icon-6,
    #gallery-mobile,
    #title-gallery-mobile{
      display: none;
    }
}
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    padding: 50px 100px 0px 100px;
    margin: 0px;
    padding-bottom: 0px;
    overflow-x:hidden;
}
body.active {
    overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
ul,
li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #0E204E;
}
                        /* Стили для Desktop версии */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-header {
    color: #0E204E;
    font-size: 32px;
    font-family: "Playfair Display";
    font-weight: 700;
}
.nav__list {
    display: flex;
    gap:88px;
    color: #232323;
    font-size: 20px;
    font-family: "Manrope";
    font-weight: 400; 
}
.nav__list_item:hover {
    scale: 1.1;
}
.nav__link:hover {
    text-decoration: underline;
}
.btn {
    width: 188px;
    height: 50px;
    flex-shrink: 0;
    background: #0E204E;
    color: #FFF;
    font-size: 20px;
    font-family: "Manrope";
    font-weight: 400;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, border 0.3s;
}
.btn:hover {
    background: #FFFFFF;
    color: #0E204E;
    border: #0E204E 2px solid;
}
.container {
    width: 786px;
    margin-top: 150px;
    margin-bottom: 350px;
    background: #0E204E;
    z-index: 1;
}
.container::before {
    content: "";
    position: absolute;
    top: 168px;
    left: 552px;
    width: 1368px;
    height: 717px;
    background: url(assets/main-desktop.jpg) center / 100% no-repeat;
    z-index: -1;
}
.title-block {
    padding: 80px 50px 0px 89px;
    color: #FFF;
    font-size: 64px;
    font-family: "Playfair Display";
    font-weight: 700;
}
.discription-block {
    padding: 0px 42px 57px 89px;
    color: #FFF;
    font-size: 20px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 20px;
}

                                        /* ABout */
.wraper {
    display: flex;
}
.about-desktop {
    margin-bottom: 250px;
}
.title {
    width: 317px;
    color: #0E204E;
    font-size: 60px;
    font-family: "Playfair Display";
    font-weight: 700;
    margin-right: 80px;
    margin-left: 80px;
    align-self: center;
}
.carousel {
    position: relative;
    display: flex;
}
.carousel-left {
    padding: 15px;
    width: 40px;
    height: 40px;
    background: url(assets/btn-left.svg) center/100% no-repeat;
    border: 0px;
    cursor: pointer;
    margin: 5px;
    z-index: 2;
    margin-right: -50px;
    align-self: center;
}
.carousel-right {
    padding: 15px;
    width: 40px;
    height: 40px;
    background: url(assets/btn-right.svg) center/100% no-repeat;
    border: 0px;
    cursor: pointer;
    margin: 5px;
    z-index: 2;
    margin-left: -50px;
    align-self: center;
}
.discription-about {
    color: #FFF;
    width: 433px;
    font-size: 20px;
    font-family: "Manrope";
    font-weight: 400;
    line-height: 160%;
    padding: 134px 58px 134px 60px;
    background: #0E204E;
}
                                /* Choose */
.wraper-choose {
    position: relative;
    width: 100vw;
    background: rgba(14, 32, 78, 1);
    padding-top: 120px;
    margin-left: -100px;
    margin-bottom: 296px;
}
.title-choose {
    width: 289px;
    color: #FFF;
    margin-left: 180px;
    margin-right: 60px;
}
.discription {
    width: 480px;
    padding: 100px;
    color: #0E204E;
    font-size: 20px;
    font-family: "Manrope";
    font-weight: 400;
    line-height: 160%;
    margin-bottom: -46px;
    background: #FFF;
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.10);
    z-index: 2;
}
.chose-photo {
    display: block;
    width: 709px;
    height: 634px;
    margin-bottom: -46px;
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.10);
    z-index: 2;
}
.wraper-choose svg {
    position: absolute;
    width: 100vw;
    left: 0px;
    bottom: -2px;
    right: 0px;
}
polygon {
    
}
                                /* offers */
.wraper-offers {
    display: flex;
    flex-direction: column;
}
.title-offers {
    width: 100%;
    height: 100%;
    text-align: center;
}
.offers-1-desktop {
    position: relative;
    width: 568px;
    height: 582px;
    z-index: 1;
    margin-right: 270px;
}
.photo-left {
    position: relative;
}
.photo-left::after {
    content: "";
    position: absolute;
    display: block;
    left: 568px;
    top: 112px;
    width: 206px;
    height: 358px;
    background: rgba(14, 32, 78, 1);
    z-index: 5;
}
.offers-2-desktop {
    position: relative;
    width: 568px;
    height: 582px;
    margin-left: 160px;
}
.photo-right {
    position: relative;
}
.photo-right::before {
    content: "";
    position: absolute;
    right: 568px;
    top: 112px;
    width: 206px;
    height: 358px;
    background: rgba(14, 32, 78, 1);
    z-index: 5;
}
.offers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    margin-left: 80px;
    margin-top: 112px;
}
li svg {
    fill:black;
}
.offers-element {
    width: fit-content;
    align-self: center;
    text-align: center;
}
.offers-icon {
    margin-bottom: 45px;
}
.offers-discription {
    color: #263238;
    font-size: 18px;
    font-family: "Manrope";
    font-weight: 400;
}
                                /* Gallery */
.wraper-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 250px;
}
.discription-gallery {
    min-width: 726px;
    color: #263238;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    background: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 48px;
}
.gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    z-index: 2;
}
.gallery-photo {
    display: block;
    transition: transform 0.3s ease;
}
.gallery-photo:hover {
    transform: scale(1.5);
}
                                /* Features */
.wraper-features {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    gap: 318px;
}
.features-photo {
    display: block;
    position: relative;
}
.features-photo::after {
    display: block;
    content: "";
    position: absolute;
    right: -200px;
    top: 140px;
    width: 200px;
    height: 445px;
    background: rgba(14, 32, 78, 1);
    z-index: 5;
}
.title-features {
    color: #0E204E;
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
}
.element-checkbox {
    color: #030033;
    font-family: "Manrope";
    font-size: 20px;
    font-weight: 600;
    padding: 13px 0px 14px 24px;
    margin-bottom: 10px;
}
.element-checkbox:nth-child(2n+1) {
   background: rgba(14, 63, 51, 0.20);
}
.list-checkbox {
    width: 542px
}
input[type="checkbox"] {
    display: none;
}
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    position: relative;
    cursor: pointer;
    background: #0E204E;
    margin-left: 80px;
}
.custom-checkbox::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
}
input[type="checkbox"]:checked + .custom-checkbox::after {
    display: block;
}

                                            /* Agent */
.container-agent {
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-between;
    margin-top: 251px;
}
.wraper-agent {
   align-self: center;
   margin-left: 200px;
}
.title-agent {
    max-width: 319px;
    color: #0E204E;
    font-family: "Playfair Display";
    font-size: 60px;
    font-weight: 700;
    padding: 0px;
}
.discription-agent {
    max-width: 417px;
    color: #263238;
    font-family: "Manrope";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 0px;
    margin-top: 30px;
}
.btn-agent {
    margin-top: 48px;
    width: 239px;
    height: 62px;
}
.photo-agent {
    position: relative;
    margin-right: 200px;
}
.photo-agent::before {
    display: block;
    content: "";
    position: absolute;
    left: -200px;
    top: 140px;
    width: 200px;
    height: 445px;
    background: rgba(14, 32, 78, 1);
    z-index: 5;
}