* {
    box-sizing: border-box;
}
body {
    padding: 20px;
    margin: 0px;
    padding-bottom: 0px;
    overflow-x:hidden;
}
body.active {
    overflow-y: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
ul,
li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #0E204E;
}

/* font-family: 'Lato', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Playfair Display', sans-serif; */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title-header {
    width: 30%;
    font-family: 'Playfair Display', sans-serif; 
    font-size: 20px;
    line-height: 27px;
    color: #0E204E;
}
/* Гамбургер иконка */
.menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
    align-self: center;
  }
  
.menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #0E204E;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
  }
  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
  }
  
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active .bar:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  /* Меню, которое будет появляться */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 15px;
    background: #FFFFFF;
    transform: translateX(100%);
    transition: transform 0.5s;
    text-align: center;
    font-size: 24px;
    padding-top: 30px;
    z-index: 1;
  }
  
  .nav.active {
    transform: translateX(0);
  }
  
  .nav .nav__list_item {
    list-style-type: none;
    padding: 5px;
}

  /* 123 */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(assets/main-mobile.png) center / 100% no-repeat;
    margin-top: 20px;
    min-height: 550px;
}

.title-block {
    font-family: 'Playfair Display';
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.discription-block {
    font-family: 'Manrope';
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
}
.btn {
    padding: 10px 19px 9px 19px;
    background: #FFFFFF;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 30px;
    cursor: pointer;
}
.btn:hover {
    background: #a8a0a0;
    color: #FFFFFF;
    border: 2px;
}
/* 2141 */

.wraper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #0E204E;
}
.carousel {
    position: relative;
    display: flex;
    align-items: center;
    background: url(assets/streat-mobile.png) center/100% no-repeat;
    min-height: 392px;
}
.carousel-left {
    padding: 15px;
    background: url(assets/btn-left.svg) center/100% no-repeat;
    border: 0px;
    cursor: pointer;
    margin: 5px;
}
.carousel-right {
    padding: 15px;
    background: url(assets/btn-right.svg) center/100% no-repeat;
    border: 0px;
    cursor: pointer;
    margin: 5px;
}
.discription-about {
    display: none;
    font-family: 'Lato';
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s, transform 0.5s;
}
.discription-about.active {
    display: block;
    opacity: 1;
    transform: translateX(0%);
}
/* 123 */
.discription {
    font-family: 'Lato';
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #0E204E;
    margin-top: 5px;
}
.chose-photo {
    margin-top: 10px;
    width: 100%;
}
.offers-photo {
    width: 100%;
    margin-top: 20px;
}
.offers-list {
    margin-top: -50px;
    width: 90%;
    background: #0E204E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 30px 15px 30px 15px;
}
.offers-element {
    text-align: center;
}
.offers-icon {

}
.offers-discription {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
/* 56416 */
.gallery-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}
.gallery-element {
    width: 100%;
}
.gallery-photo {
    width: 100%;
    object-fit: contain;
    display: block;
}
.gallery-element:last-child{
    width: 207%;
}

                            /* AGENT */

.container-agent {
    width: 100vw;
    background: #0E204E;
    min-height: 0px;
    padding: 40px;
    margin-top: 40px;
    margin-left: -20px;
}
.btn-agent {
    min-width: 103px;
    min-height: 40px;
}

                            /* Feedback */

.feedback {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
input {
    width:85vw;
    padding:5px 0px 5px 0px;
    margin-top: 24px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
}
input.Message {
    border: 1px solid rgba(0, 0, 0, 0.35);
    min-height: 83px;
}
input:focus {
    outline: rgba(0, 0, 0, 0.35) solid 2px
}
.form-group {
    position: relative;
    margin-bottom: 10px;
} 
label {
    position: absolute;
    top: 30px;
    left: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
}
input:focus ~ label,
input:valid ~ label {
    top: 7px;
    font-size: 14px;
    color: rgb(5, 5, 5);
}
.message {
    margin-top: 24px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
}
.btn-feedback {
    width: 82px;
    height: 40px;
    background: #0E204E;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    align-self: center;
}
.btn-feedback:hover {
    background: #FFFFFF;
    color: #0E204E;
    border: #0E204E 2px solid;
}
.popup {
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(27, 223, 86);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(10, 221, 80, 0.3);
    z-index: 9999;
  }
  
  .popup p {
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
/* foter */
footer {
    width: 100vw;
    margin-top: 50px;
    margin-left: -20px;
    padding: 20px;
    background: #0E204E;
}
.title-footer {
    font-family: 'Lato';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.discription-footer{
    font-family: 'Lato';
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    color: #FFFFFF;
}
.discription-footer::before {
    content: "©";
    margin-right: 2px;
}